<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <h2>Plan better online marketing campaigns.</h2>
      <p>Create your own marketing campaign to generate better revenues.</p>

      <h2>2018</h2>
      <br>
      <a class="btn btn-default" href="/campaigns/new">Create Campaign</a>
      <br>
      <h2>2017</h2>
      <tr>
        <td><a href="/campaigns/2017/10">October</a></td>
        <td>November</td>
        <td>December</td>
      </tr>
      <br>
    </div>
  </div>
</div>
<div class="campaign-row row">
    <h3 class="text-center">You may be interested in...</h3>
    <% campaigns.forEach((campaign) => { %>
      <div class="col-sm-3 home-campaign-box">
        <img src="<%= campaign.image %>">
        <div class="campaign-info-wrapper">
          <a class="title" href="/campaigns/<%= campaign._id %>">
            <strong><%= campaign.title %></strong>
          </a><br>
          by <span class="light-text"><%= campaign._creator.username %></span><br>
          <span class="light-text description"><%= campaign.description %></span>
        </div>
      </div>
    <%  }) %>
  </div>
