<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <div class="container">



          <div class="row">



            </div>
            <div class="col-sm-10">
              <h1 class="campaign-name"><%= campaign.title %></h1>
              <p class="createdby">Created By: <strong><%= campaign._creator.username %></strong></p>
              <h2 class="campaign-category"><%= campaign.category %></h2>
              <p class="campaign-description"><%= campaign.description %></p>
              <span class="light-text">
                This Campaign has $<%= campaign.goal %></span> goal
              </span>
              <% campaign.products.forEach((product) => { %>
              <p class="campaign-products"><%= product.name %></p>
              <%  }) %>
              <br>
              <br>
              <form action="/campaigns/<%= campaign._id %>/delete" method="POST">
                <button class="button-class" type="submit">Delete Campaign</button>
              </form>
              <br>
                <a href="/campaigns/<%= campaign._id %>/edit">
                <button class="button-class" type="submit">Edit Campaign</button></a>
              </form>

            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <img class="campaign-image" src="<%= campaign.image %>">
            </div>
              </div>
              <br>
              <br>

              <!-- <div class="campaign-backers">
                <strong class="large-strong"><%= campaign.backerCount %></strong><br>
                <span class="light-text">backers</span>
              </div>
              <div class="campaign-time">
                <strong class="large-strong"><%= campaign.timeRemaining.days %></strong><br>
                <span class="light-text"><%= campaign.timeRemaining.unit  %> to go.</span>
              </div> -->



          </div>



  </div>
</div>
</div>
</div>
</div>
</header>
