<div class="campaign-row row">
    <h3 class="text-center">Your monthly campaigns</h3>
    <% campaign.forEach((campaign) => { %>
      <div class="col-sm-3 home-campaign-box">
        <div class="campaign-info-wrapper">
          <a class="title" href="/campaigns/<%= campaign._id %>">
            <strong><%= campaign.title %></strong>
          </a><br>
          by <span class="light-text"><%= campaign._creator.username %></span><br>
          <span class="light-text description"><%= campaign.title %></span>
          <span class="light-text description"><%= campaign.description %></span>
          <span class="light-text description"><%= campaign.category %></span>
          <span class="light-text description"><%= campaign.goal %></span>
          <span class="light-text description"><%= campaign.startdate %></span>
          <span class="light-text description"><%= campaign.enddate %></span>
          <span class="light-text description"><%= campaign.products %></span>
        </div>
      </div>
    <%  }) %>
  </div>
